.left-div{
    position: absolute;
width: 437px;
height: 50px;
left: 340px;
top: 51px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bolder;
font-size: 24px;
line-height: 32px;
    font-size: 30px;
}
.page-title{
    font-size: 20px;
    color: #5BBAFF;
}
.left-search-area{
    position: absolute;
width: 274px;
height: 34px;
left: 340px;
top: 108px;
box-sizing: border-box;
border-radius: 10px;
}
.search-text{
    

font-family: Red Hat Display;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 24px;

color: #000000;

}

.tabs-area{
    position: absolute;
width: 514px;
height: 538px;
left: 338px;
top: 204px;
box-sizing: border-box;
}